.postsContainer {
  width:100%;
  max-width:700px;
  margin:0 auto;
}

.post {
  width:100%;

  a{
    font-size:1.8rem;
    font-weight:700;
    line-height:1.9rem;
    color: var(--gray-100);
  }

  p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3rem;
    color: var(--gray-200);
    margin-top:8px;
    display:block;
  }

  .postInfo {
    margin-top: 25px;
    display: flex;
    align-items:center;

    .infoItem {
      display:flex;
      align-items:center;

      & + div {
        margin-left:27px;
      }

      time, span {
        margin-left:10.5px;
        color: var(--gray-300);
        font-family: Inter;
        font-size: 0.875rem;
        line-height: 1.125rem;
      }
    }
  }

  & + div {
    margin-top:50px;
  }
}

.loadMore {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3rem;
  color: var(--pink-500);
  background:none;
  border:0;
  margin-top:66px;
}
